
<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            <li class="fork"><a href="/">Home</a></li>
            <li class="downloads">
              <a href="https://hits.sh/blog.philipp-manuel.de{{ page.url }}"
                 style="background:transparent;border:none;box-shadow:none"
              >
                <img src="https://hits.sh/blog.philipp-manuel.de{{ page.url }}.svg"/>
              </a>
            </li>
            <li class="downloads"><a href="https://github.com/MnlPhlp/blog/issues">Github Issues</a></li>
          </ul>
        </nav>
      </div><!-- end header -->
    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ page.title }}</h1>
          <p>{{ page.description }}</p>
          <hr>
          <span class="credits left">Written by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> on {{ page.date | date_to_string}}</span>
        </div>

        {{ content }}

        <script src="https://utteranc.es/client.js"
          repo="MnlPhlp/blog"
          issue-term="url"
          theme="photon-dark"
          crossorigin="anonymous"
          label="Comment"
          async>
        </script>

      </section>

    </div>
  </body>
</html>